<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% load tags %}

{{ item_info.graph_avg_price_new|json_script:"graph-prices-new" }}

{{ item_info.graph_avg_price_used|json_script:"graph-prices-used" }}

{{ item_info.graph_total_quantity_new|json_script:"graph-quantities-new" }}

{{ item_info.graph_total_quantity_used|json_script:"graph-quantities-used" }}

{{ item_info.graph_dates|json_script:"graph-dates" }}

{% if 'trending' in request.get_full_path %}
    {{metrics|json_script:'graph-metrics'}}
{% endif %}

<canvas id="graph" style="max-width: 60rem; max-height: 22rem;"></canvas>

<script>
    var canvas = document.getElementById(`graph`)

    var prices_new = JSON.parse(document.getElementById(`graph-prices-new`).textContent)
    var prices_used = JSON.parse(document.getElementById(`graph-prices-used`).textContent)

    var quantities_new = JSON.parse(document.getElementById(`graph-quantities-new`).textContent)
    var quantities_used = JSON.parse(document.getElementById(`graph-quantities-used`).textContent)

    var dates = JSON.parse(document.getElementById(`graph-dates`).textContent)
    var data_arrays = [prices_new, prices_used, quantities_new, quantities_used]

    var datasets = [
        {
            id: 'avg_price_new',
            label: "Average Price (New) (£)",
            data: prices_new,
            hidden: false,
            backgroundColor:"red",
            borderColor:"red"

        },
        {
            id: 'avg_price_used',
            label: "Average Price (Used) (£)",
            data: prices_used,
            hidden: false,
            backgroundColor: "blue",
            borderColor: "blue"
        },
        {
            id: 'total_quantity_new',
            label: "Total Quantity (New)",
            data: quantities_new,
            hidden: false,
            backgroundColor: "green",
            borderColor: "green"
        },
        {
            id: 'total_quantity_used',
            label: "Total Quantity (Used)",
            data: quantities_used,
            hidden: false,
            backgroundColor: "yellow",
            borderColor: "yellow"
        },
    ]

    if (window.location.href.includes('trending')) {
        var metrics = JSON.parse(document.getElementById('graph-metrics').textContent)    
        var datasets_for_trending = []
        for (let i =0 ; i < datasets.length; i ++) {
            if (metrics.includes(datasets[i].id)) {
                datasets_for_trending.push(datasets[i])
                break
            }
        }
        datasets = datasets_for_trending
    } 

    var graph = new Chart(canvas, {
        type: "line",
        data: {
            labels: dates,
            datasets: datasets
        },
        options: {
            plugins: {
                legend: {
                    display: false
                },
            },
            scales: {
                x: {
                    ticks: {
                        maxTicksLimit: 10
                    }
                }
            }
        }
    })


</script>