{% load static %}
<div class="item-container border-black border rounded-1 position-relative" style="width: 12rem; height: 16rem;">
    <a class="item-id mt-1 d-block text-center" href="{% url 'item' item_info.item_id %}">{{item_info.item_id}}</a>
    <img class="item-image mx-auto d-block mt-3 w-50 h-50" src="{% static 'App/items/' %}{{item_info.item_id}}.png">
    <div class="d-flex h-25 flex-column justify-content-center border-top border-black position-absolute bottom-0 w-100">
        <span data-toggle="tooltip" data-placement="right" title="{{item_info.item_name}}" class="item-name p-0 w-100 d-block text-center text-max-two-lines">{{item_info.item_name}}</span>
    </div>
</div>