{% extends 'App/blocks/base.html' %}

{% load tags %}

{% block content%}

<style>
    .update-item-form input {
        border: none;
        border-bottom: 0.1rem black solid;
        outline: none;
    }

    .update-item-form label {
        width: 6rem;
    }
</style>

<section id="top-content" class="d-flex justify-content-around">
    <div id="item-profile-container">
        {% include 'App/blocks/item_profile.html' with item_info=item_info %}
    </div>
    <div id="item-info" class="d-flex">
        {% include 'App/blocks/metric_display.html' with item_info=item_info %}
        <div id="portfolio-info" class="d-flex flex-column">
            <h4 class="text-center">Portfolio Stats</h4>
            <span>Quantity Owned (New) : {{item_info.quantity_owned_new}}</span>
            <span>Quantity Owned (Used) : {{item_info.quantity_owned_used}}</span>
        </div>
    </div>

</section>
<section id="items-section">
    {% for item in items %}
    <div class="item-container d-flex justify-content-around border-bottom py-3">
        <form action="{% url 'update_portfolio_item' item.item_id %}" method="post" class="update-item-form d-flex">
            <div class="me-3">
                <div>
                    <label for="bought_for">Bought For:</label>
                    <input onfocus="show_submit_button(this)" type="text" name="bought_for" value="{{item.bought_for|zero_pad_float}}">
                </div>
                <div>
                    <label for="sold_for">Sold For:</label>
                    <input onfocus="show_submit_button(this)" type="sold_for" name="sold_for" value="{{item.sold_for|zero_pad_float}}">
                </div>
            </div>
            <div>
                <div>
                    <label for="date_bought">Date Bought:</label>
                    <input onfocus="show_submit_button(this)" type="date" name="date_bought"
                    {% if item.date_bought != None %} value="{{item.date_bought|format_date}}" {% endif %}>
                </div>
                <div>
                    <label for="date_sold">Date sold:</label>
                    <input onfocus="show_submit_button(this)" type="date" name="date_sold"
                    {% if item.date_sold != None %} value="{{item.date_sold|format_date}}" {% endif %}>
                </div>
            </div>
            <button type="submit" class="d-none">Update</button>
        </form>
    </div>
    {% endfor %}

</section>
{% endblock %}
