{% extends 'App/blocks/base.html' %}

{% load tags %}

{% block content%}

<style>
    .update-item-form input {
        border: none;
        border-bottom: 0.1rem black solid;
        outline: none;
    }

    .update-item-form label {
        width: 7rem;
    }
</style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<section id="top-content" class="d-flex justify-content-around">
    <div id="item-profile-container">
        {% include 'App/blocks/item_profile.html' with item_info=item_info %}
    </div>
    <div id="graph-and-checkboxes-container" class="d-flex justify-content-center" style="width: 60%;">
        <div id="graph-container" style="min-width: 30rem !important;">
            {% include 'App/blocks/graph.html' with item_info=item_info %}
        </div>

        <div id="graph-metric-checkboxes-container" class="d-none d-xxl-block">
            <div class="flex-column">
                {% for graph_metric in graph_metrics %}
                <div>
                    <input class="graph-metric-checkbox" style="accent-color: {{graph_metric.colour}};"
                        oninput="update_graph(`{{graph_metric.label}}`)" type="checkbox" name="graph-metric"
                        value="{{graph_metric.value}}" checked>
                    <label for="{{graph_metric.value}}">{{graph_metric.label}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="item-info" class="d-flex">
        {% include 'App/blocks/metric_display.html' with item_info=item_info %}
        <div id="portfolio-info" class="d-flex flex-column">
            <h4 class="text-center">Portfolio Stats</h4>
            <span>Quantity Owned (New) : {{item_info.quantity_owned_new}}</span>
            <span>Quantity Owned (Used) : {{item_info.quantity_owned_used}}</span>
        </div>
    </div>

</section>
<section id="items-section" class="border-top border-black border-2 py-3">
    {% for item in items %}
    <div class="item-container d-flex justify-content-center border-bottom py-3 position-relative">
        <div class="d-flex start-0 position-absolute border-end h-75 pe-4 border-black border-2">
            <span class="d-block mt-3 ps-3">Condition : ({{item.condition}})</span>
        </div>
        <form oninput="show_submit_button(this)" action="{% url 'update_portfolio_item' item.entry_id item.item_id %}"
        method="post" class="update-item-form d-flex justify-content-between w-75">
            {% csrf_token %}
            <div class="me-3">
                <div>
                    <label for="bought_for">Bought For (£):</label>
                    <input  type="text" name="bought_for" value="{{item.bought_for|zero_pad_float}}">
                </div>
                <div>
                    <label for="sold_for">Sold For (£):</label>
                    <input type="sold_for" name="sold_for" value="{{item.sold_for|zero_pad_float}}">
                </div>
            </div>
            <div>
                <div>
                    <label for="date_bought">Date Bought:</label>
                    <input type="date" name="date_bought"
                    {% if item.date_bought != None %} value="{{item.date_bought|format_date}}" {% endif %}>
                </div>
                <div>
                    <label for="date_sold">Date sold:</label>
                    <input type="date" name="date_sold"
                    {% if item.date_sold != None %} value="{{item.date_sold|format_date}}" {% endif %}>
                </div>
            </div>
            <textarea name="notes" cols="20" rows="2" placeholder="Notes:" maxlength="{{notes_max_length}}">{{item.notes}}</textarea>
            <button type="submit" class="invisible h-50 my-auto">Update</button>
        </form>
    </div>
    {% endfor %}

</section>
{% endblock %}

{% block script %}

<script>
    window.onload = check_checkboxes(
        document.getElementsByClassName('graph-metric-checkbox')
    )
</script>

{% endblock %}
