{% extends 'App/blocks/base.html' %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% load tags %}
{% load static %}

{{ trending_items|json_script:"items"}}

<style>
    canvas {
        height: 16rem;
        width: 28rem;
    }

    .trending-item-container:last-child {
        border: unset;
    }

    .trending-item-container:hover {
        background-color: whitesmoke;
    }
</style>

<section id="trending" class="d-flex mt-3">
    <section id="items-and-options" class="w-50 pe-2">
        {% include 'App/blocks/pages.html' with redirect_view='trending' pages=pages %}
        <div class="mt-3 d-flex justify-content-center">
            {% include 'App/blocks/graph_range.html' with redirect_view='trending' selected_date_range=selected_date_range %}
        </div>

        <div class="border-bottom py-2 mt-3 border-3 border-top ">
            {% include 'App/blocks/filters.html' with redirect_view='trending' %}
        </div>

        <div id="trending-items-container" class="overflow-scroll mt-2" style="max-height: 60vh;">
            {% for item in trending_items %}    
            <div onclick="update_focus_item(this)" class="trending-item border-bottom ps-3 trending-item-container d-flex d-flex flex-column" style="height: 6rem;">
                <span class="d-none item-index">{{forloop.counter0}}</span>
                <span class="item-name">{{item.item_name}}</span>
                <a href="{% url 'item' item.item_id %}" class="item-id" style="width: max-content;">{{item.item_id}}</a>
                <span 
                {% if item.metric_change < 0 %} 
                    style="color: red;" 
                {% else %} 
                    style="color: green;" 
                {% endif %}
                >{% if 'avg_price' in metrics.0 %} £ {% endif %} {{item.metric_change|abs}} 
                ({{item.metric_percentage_change|zero_pad_float}}%)
                </span>
            </div>
            {% endfor %}
        </div>
    </section>

    {% include 'App/blocks/focus_item.html' with item=trending_items.0 %}
</section>

{% endblock %}